# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# Node Modules
node_modules/

# Build Folders
dist/
build/

# Environment Files
.env
.env.local

# Cache
.cache/